.nav-menu{
        padding: 19px !important;
        border-bottom: 1px solid #e5d9d9;
}
.text-cor-padrao{
    color: #02a102 !important;
}

.router-link {
  cursor: pointer;
  text-decoration: none;
}